.content {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;
    background-color: #383838;
}

.characters {
    font-family: 'Chinese-Rocks';
    color: white;
    text-shadow: 2px 2px 2px black;
}

.characters h3 {
    position: absolute;
    padding-left: 1rem;
}

.characters h4 {
    position: absolute;
    padding-left: 1rem;
    padding-top: 2rem;
    width: 15%;
    text-align: justify;
}

.characters img {
    border-radius: 1rem;
    
}